@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&family=Noto+Serif+SC&display=swap');

:root {
    color-scheme: light dark;
    font-family: 'noto sans sc', system-ui;
    color: black;
}


.page-enter-active,
.page-leave-active {
    transition: filter 0.3s;
}

.page-enter-from {
    filter: blur(1rem);
}

.page-leave-to {
    filter: blur(1rem);
}

:root {
    --md-text-button-label-text-type: 500 2rem/2rem system-ui;
    --md-sys-color-primary: black;
}